# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
next-env.d.ts

# testing
coverage/
test-results/
playwright-report/
blob-report/
.playwright/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# editors
.idea/
.vscode/
*.suo
*.ntvs*
*.sw?

# os
.DS_Store
Thumbs.db
