@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  @apply mx-auto px-4;
}

@media (min-width: 640px) {
  .container {
    @apply px-6;
  }
}

button,
a {
  min-height: 40px;
}
